<html>
<head>
    <title></title>
</head>
<body>
<div  id="drug_src" class="col-lg-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#drug_src" href="#drug_src_collapse">
                            <i class="fa fa-file-excel-o"></i> Add Drug Source</a>
                        </h4>
                    </div>
                    <div id="drug_src_collapse" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            
                            
                            
                        </div>
                        
                        
                    </div>
                </div>
</div>
</body>
</html>

